@model StoryTeller.Models.BigStory

@{
    ViewBag.Title = "Story";
}

<h2>@Model.Title written in @Model.Created </h2>

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Action("BigStoryPhotById", "Photo", new { id = Model.Id.ToString() } )" alt="Alternate Text" width="250" height="300" />
    </div>
    <div class="col-md-8">
        <p>@Model.Text</p>
    </div>
</div>

@{Html.RenderPartial("~/Views/Story/Partial/_LeaveCommentForm.cshtml");}

<div id="comments-data">
    @Html.DisplayFor(x => x.Comments)
</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#leaveComment-btn").click(function () {
                //debugger;
                var searchTerm = $("#comment-text").val();
                if (searchTerm.length == 0) {
                    alert("Enter some comment text.");
                    $("#leaveComment-btn").focus();
                    return false;
                }

                $.get("/Story/LeaveComment", { commentText: searchTerm, postId :@Model.Id.ToString() })
                .success(function (data) {
                    $("#comments-data").html(data);
                });
            });

            $("comment-textt").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $("#leaveComment-btn").click();
                }
            });
        });
    </script>
}
