
@model IEnumerable<StoryTeller.Models.BigStory>

@{
    ViewBag.Title = "BigStoryIndex";
}

@Html.ActionLink("Back", "BigStoryIndex", "Admin")

<h2>Moderate</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.StoryTellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.Last().Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumberOfPosts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursToWrite)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.StoryTellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                <div class="dot1" style="height: 50px;">
                    @Html.DisplayFor(modelItem => item.Posts.Last().Text)
                </div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsLocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfPosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursToWrite)
            </td>

            <td>
                @Html.ActionLink("Check", "BigStoryModerateDetails", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.dot1').dotdotdot();
        });
    </script>
}
