@model StoryTeller.Models.Post

@{
    ViewBag.Title = "Story";
}

<h2>@Model.Title written by @Model.User.StoryTellerName in @Model.Created </h2>

<div class="row">
    <div class="col-md-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Mikalojus_Konstantinas_Ciurlionis_-_FAIRY_TALE_(FAIRY_TALE_OF_KINGS)_-_1909.jpg" alt="Alternate Text" width="250" height="300" />
    </div>
    <div class="col-md-8">
        <p>@Model.Text</p>
    </div>
</div>

@*@{Html.RenderPartial("_LeaveCommentForm"); }*@

@*@Html.DisplayForModel(Model.Comments)*@

@*<div id="comments-data">
    @Html.DisplayFor(x => x.Comments)
</div>*@

<p>
    @if (Model.User.StoryTellerName == ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("StoryTellerName")?.Value)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
        @Html.ActionLink("Back to List", "Index", "Story", new { id = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("StoryTellerName")?.Value }, null)
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", "Story", new { id = Model.User.StoryTellerName }, null)
    }

</p>


@*@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#leaveComment-btn").click(function () {
                var searchTerm = $("#comment-text").val();
                if (searchTerm.length == 0) {
                    alert("Enter some comment text.");
                    $("#leaveComment-btn").focus();
                    return false;
                }

                $.get("/Stories/LeaveComment", { commentText: searchTerm, postId :@Model.Id.ToString() })
                .success(function (data) {
                    $("#comments-data").html(data);
                });
            });

            $("comment-textt").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $("#leaveComment-btn").click();
                }
            });
        });
    </script>
}*@
